/*
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/

@charset "UTF-8";

.button {
    height: 35px;
    color: white;
    font-size: 20pt;
    line-height: 35px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: background-color, color, margin, box-shadow;
    -webkit-user-select: none;
    -moz-transition-duration: 0.2s;
    -moz-transition-property: background-color, color, margin, box-shadow;
    -moz-user-select: none;
    -ms-transition-duration: 0.2s;
    -ms-transition-property: background-color, color, margin, box-shadow;
    -ms-user-select: none;
    transition-duration: 0.2s;
    transition-property: background-color, color, margin, box-shadow;
    user-select: none;
}

.button.border {
    background-color: transparent;
    color: black;
    border-radius: 5px;
}

.button.yellow {
    background-color: yellow;
    color: black;
}

.button.yellow.disabled {
    background-color: rgba(255,255,0,0.42);
    color: rgba(0,0,0,0.7);
    cursor: default !important;
}

.button.yellow:not(.disabled):hover {
    background-color: #dcdc00;
    color: #202020;
}

.button.yellow:not(.disabled):active {
    background-color: #afaf00;
    color: #4b4b4b
}

.button.red {
    background-color: red;
}

.button.red.disabled {
    background-color: rgba(255,0,0,0.42);
    color: rgba(255,255,255,0.7);
    cursor: default !important;
}

.button.red:not(.disabled):hover {
    background-color: #df0000;
    color: #dedede;
}

.button.red:not(.disabled):active {
    background-color: #a90000;
    color: #9e9e9e
}

.button.green {
    background-color: green;
}

.button.green.disabled {
    background-color: rgba(0,128,0,0.42);
    color: rgba(255,255,255,0.7);
    cursor: default !important;
}

.button.green:not(.disabled):hover {
    background-color: #00a200;
    color: #dedede;
}

.button.green:not(.disabled):active {
    background-color: #00b900;
    color: #dedede
}

.button[size="big"] {
    width: 240px;
    height: 50px;
    font-size: auto;
    line-height: 50px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button[size="auto"] {
    height: 50px;
    font-size: auto;
    line-height: 50px;
    padding: 0px 20px;
    width: auto;
}

/* border */			
.button.border.blue {
    border: 1px solid blue;
    background-color: transparent;
}

.button.border.blue:not(.disabled):hover {
    background-color: rgba(0,0,255,0.05);
    color: black;
}

.button.border.blue:not(.disabled):active {
    background-color: blue;
    color: white;
}

.button.border.blue.disabled {
    border: 1px solid rgba(0,0,255,0.42);
    color: rgba(0,0,0,0.5);
    cursor: default;
}


.button.border.red {
    border: 1px solid red;
    background-color: transparent;
}

.button.border.red:not(.disabled):hover {
    background-color: rgba(255,0,0,0.05);
    color: black;
}

.button.border.red:not(.disabled):active {
    background-color: red;
    color: white;
}

.button.border.red.disabled {
    border: 1px solid rgba(255,0,0,0.42);
    color: rgba(0,0,0,0.5);
    cursor: default;
}

/* borderless */
.button.borderless {
    color: blue;
    font-weight: bold;
}

.button.borderless:not([size$="big"]) {
    text-align: inherit;
}

.button.borderless:not(.disabled):active {
    color: #9191ff;
}

.button.borderless.disabled {
    cursor: default;
    opacity: 0.6;
    filter: alpha(0.6);
}

/* gradient */
.button.gradient {
    color: white;
    border-radius: 5px;
    box-shadow: inset 0px 1px rgba(203,184,255,0.95);
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
            transition: none;
}

.button.gradient:not([size="big"]) {
    height: 50px;
    line-height: 50px;
}

.button.gradient.blue {
    background-image: -webkit-linear-gradient(rgba(89,89,255,1) 0%, rgba(0,0,255,1) 100%);
    background-image:    -moz-linear-gradient(rgba(89,89,255,1) 0%, rgba(0,0,255,1) 100%);
    background-image:     -ms-linear-gradient(rgba(89,89,255,1) 0%, rgba(0,0,255,1) 100%);
    background-image:      -o-linear-gradient(rgba(89,89,255,1) 0%, rgba(0,0,255,1) 100%);
    background-image:         linear-gradient(rgba(89,89,255,1) 0%, rgba(0,0,255,1) 100%);
    border: 1px solid rgba(74,65,240,0.95)
}

.button.gradient.blue:not(.disabled):active {
    background-image: -webkit-linear-gradient(rgba(0,0,255,0.95) 0%, rgba(89,89,255,0.95) 100%);
    background-image:    -moz-linear-gradient(rgba(0,0,255,0.95) 0%, rgba(89,89,255,0.95) 100%);
    background-image:     -ms-linear-gradient(rgba(0,0,255,0.95) 0%, rgba(89,89,255,0.95) 100%);
    background-image:	   -o-linear-gradient(rgba(0,0,255,0.95) 0%, rgba(89,89,255,0.95) 100%);
    background-image: 		  linear-gradient(rgba(0,0,255,0.95) 0%, rgba(89,89,255,0.95) 100%);
}

.button.gradient.blue.disabled {
    background-image: -webkit-linear-gradient(rgba(89,89,255,0.64) 0%, rgba(0,0,255,0.64) 100%);
    background-image:     -moz-linear-gradient(rgba(89,89,255,0.64) 0%, rgba(0,0,255,0.64) 100%);
    background-image: 	   -ms-linear-gradient(rgba(89,89,255,0.64) 0%, rgba(0,0,255,0.64) 100%);
    background-image: 		-o-linear-gradient(rgba(89,89,255,0.64) 0%, rgba(0,0,255,0.64) 100%);
    background-image: 		   linear-gradient(rgba(89,89,255,0.64) 0%, rgba(0,0,255,0.64) 100%);
    cursor: default;
    color: rgba(255,255,255,0.6);
    border: 1px solid rgba(0,0,255,0.64);
}

.button.gradient.red {
    background-image: -webkit-linear-gradient(rgba(255,89,89,1) 0%, rgba(255,0,0,1) 100%);
    background-image:    -moz-linear-gradient(rgba(255,89,89,1) 0%, rgba(255,0,0,1) 100%);
    background-image: 	  -ms-linear-gradient(rgba(255,89,89,1) 0%, rgba(255,0,0,1) 100%);
    background-image: 	   -o-linear-gradient(rgba(255,89,89,1) 0%, rgba(255,0,0,1) 100%);
    background-image: 		  linear-gradient(rgba(255,89,89,1) 0%, rgba(255,0,0,1) 100%);
    border: 1px solid rgba(240,65,65,0.95);
    box-shadow: inset 0px 1px rgba(255,184,184,0.95) !important;
    color: white !important;
}

.button.gradient.red:not(.disabled):active {
    background-image: -webkit-linear-gradient(rgba(255,0,0,0.95) 0%, rgba(255,89,89,0.95) 100%);
    background-image: 	 -moz-linear-gradient(rgba(255,0,0,0.95) 0%, rgba(255,89,89,0.95) 100%);
    background-image: 	  -ms-linear-gradient(rgba(255,0,0,0.95) 0%, rgba(255,89,89,0.95) 100%);
    background-image: 	   -o-linear-gradient(rgba(255,0,0,0.95) 0%, rgba(255,89,89,0.95) 100%);
    background-image: 		  linear-gradient(rgba(255,0,0,0.95) 0%, rgba(255,89,89,0.95) 100%);
    box-shadow: inset 0px 1px rgba(255,184,184,0.95) !important;
    color: white !important;
}

.button.gradient.red.disabled {
    background-image: -webkit-linear-gradient(rgba(255,89,89,0.64) 0%, rgba(255,0,0,0.64) 100%);
    background-image: 	 -moz-linear-gradient(rgba(255,89,89,0.64) 0%, rgba(255,0,0,0.64) 100%);
    background-image: 	  -ms-linear-gradient(rgba(255,89,89,0.64) 0%, rgba(255,0,0,0.64) 100%);
    background-image: 	   -o-linear-gradient(rgba(255,89,89,0.64) 0%, rgba(255,0,0,0.64) 100%);
    background-image: 		  linear-gradient(rgba(255,89,89,0.64) 0%, rgba(255,0,0,0.64) 100%);
    box-shadow: inset 0px 1px rgba(255,184,184,0.95) !important;
    cursor: default;
    color: rgba(255,255,255,0.6) !important;
    border: 1px solid rgba(255,0,0,0.64);
}

.button.light {
    color: black;
    background-color: transparent;
    background-image: -webkit-linear-gradient(#ffffff 0%, #f1f1f1 100%);
    background-image: 	 -moz-linear-gradient(#ffffff 0%, #f1f1f1 100%);
    background-image: 	  -ms-linear-gradient(#ffffff 0%, #f1f1f1 100%);
    background-image: 	   -o-linear-gradient(#ffffff 0%, #f1f1f1 100%);
    background-image: 		  linear-gradient(#ffffff 0%, #f1f1f1 100%);
    border: 1px solid lightgray;
    border-radius: 5px;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
            transition: none;
}

.button.light:not(.disabled):active {
    background-image: -webkit-linear-gradient(#f1f1f1 0%, #ffffff 100%);
    background-image: 	 -moz-linear-gradient(#f1f1f1 0%, #ffffff 100%);
    background-image: 	  -ms-linear-gradient(#f1f1f1 0%, #ffffff 100%);
    background-image: 	   -o-linear-gradient(#f1f1f1 0%, #ffffff 100%);
    background-image: 		  linear-gradient(#f1f1f1 0%, #ffffff 100%);
}

.button.light.disabled {
    color: gray;
    cursor: default;
    background-image: none;
    background-color: #fcfcfc;
}

.button.light.destructive {
    color: black;
    background-color: transparent;
    background-image: -webkit-linear-gradient(#ffffff 0%, #edcfcf 100%);
    background-image: 	 -moz-linear-gradient(#ffffff 0%, #edcfcf 100%);
    background-image: 	  -ms-linear-gradient(#ffffff 0%, #edcfcf 100%);
    background-image: 	   -o-linear-gradient(#ffffff 0%, #edcfcf 100%);
    background-image: 		  linear-gradient(#ffffff 0%, #edcfcf 100%);
    border: 1px solid red;
}

.button.light.destructive:not(.disabled):hover {
    background-image: -webkit-linear-gradient(#ff0000 0%, #9c0000 100%);
    background-image: 	 -moz-linear-gradient(#ff0000 0%, #9c0000 100%);
    background-image: 	  -ms-linear-gradient(#ff0000 0%, #9c0000 100%);
    background-image: 	   -o-linear-gradient(#ff0000 0%, #9c0000 100%);
    background-image: 		  linear-gradient(#ff0000 0%, #9c0000 100%);
    color: white;
}

.button.light.destructive:not(.disabled):active {
    background-image: -webkit-linear-gradient(#9c0000 0%, #ff0000 100%);
    background-image: 	 -moz-linear-gradient(#9c0000 0%, #ff0000 100%);
    background-image: 	  -ms-linear-gradient(#9c0000 0%, #ff0000 100%);
    background-image: 	   -o-linear-gradient(#9c0000 0%, #ff0000 100%);
    background-image: 		  linear-gradient(#9c0000 0%, #ff0000 100%);
    color: white;
}

.button.light.destructive.disabled {
    opacity: 0.6;
    color: #2c2c2c;
}

.button.notFlat {
    border-radius: 5px;
    -webkit-transition-duration: 0.1s;
       -moz-transition-duration: 0.1s;
        -ms-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
}

.button.notFlat.lime {
    background-color: lime;
    box-shadow: 0px 6px 0px #006800;
}

.button.notFlat.lime:not(.disabled):active {
    margin-top: 6px;
    margin-bottom: -6px;
    box-shadow: 0px 0px 0px #006800;
}

.button.notFlat.lime.disabled {
    margin-top: 6px;
    margin-bottom: -6px;
    box-shadow: 0px 0px 0px #006800;
    background-color: rgba(89,255,89,0.7);
    color: rgba(255,255,255,0.9);
}

.button.notFlat.blue {
    background-color: #acc6e6;
    box-shadow: 0px 6px 0px #006080;
}

.button.notFlat.blue:not(.disabled):active {
    margin-top: 6px;
    margin-bottom: -6px;
    box-shadow: 0px 0px 0px #006080;
}

.button.notFlat.blue.disabled {
    margin-top: 6px;
    margin-bottom: -6px;
    box-shadow: 0px 0px 0px #006080;
    background-color: rgba(183,229,244,0.7);
    color: rgba(255,255,255,0.9);
}
